@* Generator: WebPage *@

@using System.Globalization;
@using System.IO;
@using System.Linq;
@using NuGet;
@using SiteExtensions.Administration;
@using SiteExtensions.Administration.Resources;

@section PackageHead { 
    <script type="text/javascript" src="@Href("scripts/PackageAction.js")"></script>
    <noscript>@PackageManagerResources.JavascriptRequired</noscript>
}
@{
    // Read params from request
    var packageId = Request["package"];
    var version = Request["version"];

    WebProjectManager projectManager = new WebProjectManager();
    
    IPackage package = projectManager.SourceRepository.FindPackage(packageId, version != null ? SemanticVersion.Parse(version) : null);

    if (package == null) {
        ModelState.AddFormError(PackageManagerResources.BadRequest);
        @Html.ValidationSummary()
        return; 
    } 
    
    Page.SectionTitle = String.Format(CultureInfo.CurrentCulture, PackageManagerResources.InstallPackageDesc, package.GetDisplayName());

    var packagesHomeUrl = Href("~/", Request.Url.Query);
    if (IsPost) {
        AntiForgery.Validate();
        try {
            projectManager.InstallPackage(package);   
        } catch (Exception exception) {
            ModelState.AddFormError(exception.Message);
        }
        
        if (ModelState.IsValid) {
            Response.Redirect(packagesHomeUrl + "&action-completed=Install");
        }
        else {
            @Html.ValidationSummary(String.Format(CultureInfo.CurrentCulture, PackageManagerResources.PackageInstallationError, package.GetDisplayName()))
            return;
        }
    }
}

@RenderPage("_PackageDetails.cshtml", new Dictionary<string, object>{ {"Package", package} })

<form method="post" action="" id="submitForm">
<p>@PackageManagerResources.Disclaimer</p>    
<fieldset class="no-border install">
    <input type="hidden" name="package" value="@packageId" />
    <input type="hidden" name="version" value="@version" />
    @AntiForgery.GetHtml()

    <input type="submit" value="@PackageManagerResources.InstallPackage" />
    <input type="reset" value="@PackageManagerResources.Cancel" data-returnurl="@packagesHomeUrl" />
</fieldset>
    

</form>